* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  min-width: 20rem;
  position: relative;
}

.progress-container::before {
  background-color: gray;
  position: absolute;
  left: 0;
  top: 40%;
  height: 0.3rem;
  width: 100%;
  z-index: -1;
  content: "";
}

.progress {
  background-color: lightcoral;
  position: absolute;
  left: 0;
  top: 40%;
  height: 0.3rem;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease-in;
}

.circle {
  padding: 0.4rem;
  background: white;
  border: 2px solid gray;
  border-radius: 50%;
  width: 2rem;
  transition: 0.4s ease;
}

.active {
  border: 2px solid lightcoral;
}

.btn {
  border: none;
  border-radius: 0.1rem;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  color: white;
  background-color: lightcoral;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}
